.recipesContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
  list-style-type: none;
=======
>>>>>>> 1320be4 (css de recipes)
=======
  list-style-type: none;
>>>>>>> 2845db5 (css de recipes)
  margin-top: 20px;
  padding: 20px;
}

.cardContainer {
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.993);
  border-radius: 5px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  padding: 10px;
>>>>>>> 1320be4 (css de recipes)
=======
>>>>>>> 2845db5 (css de recipes)
  text-align: center;
}

.cardImage {
<<<<<<< HEAD
<<<<<<< HEAD
  height: 200px;
=======
  height: 240px;
>>>>>>> 1320be4 (css de recipes)
=======
  height: 200px;
>>>>>>> 2845db5 (css de recipes)
  margin-bottom: 10px;
  object-fit: cover;
  width: 200px;
}

.cardName {
  font-weight: 700;
}

.listContainer {
  display: flex;
  justify-content: space-between;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2845db5 (css de recipes)

a {
  color: rgba(0, 0, 0, 0.514);
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
>>>>>>> 1320be4 (css de recipes)
=======
}
>>>>>>> 2845db5 (css de recipes)
=======
  text-decoration: none;
}
>>>>>>> 950f44d (css de recipes)
