.recipesContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  list-style-type: none;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 20px;
}

.renderContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  list-style-type: none;
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 20px;
}

.cardContainer {
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.cardImage {
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.cardName {
  font-weight: 700;
  padding: 10px;
  text-align: left;
}

.listContainer {
  display: flex;
  justify-content: space-between;
}

a {
  color: rgba(0, 0, 0, 0.514);
  text-decoration: none;
}


@media only screen and ( max-width : 768px ) {

  .recipesContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .renderContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .cardImage {
    height: 150px;
    object-fit: cover;
    width: 150px;
  }
}
