.buttonContainer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  margin: 20px 0 0 10px;
}

.filterButton {
  align-items: center;
  background-color: brown;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  margin-right: 4px;
  outline: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.filterButton:hover {
  background-color: rgba(184, 77, 77, 0.541);
}
